<div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" fromControlName="firstName" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" fromControlName="lastName" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" fromControlName="email" required>
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <select id="country" name="country" fromControlName="country" required>
        <option value="" disabled selected>Select Country</option>
        <option value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="UK">UK</option>      </select>
    </div>

    <div class="form-group">
      <label>Gender:</label>
      <div class="radio-group">
        <div>
          <input type="radio" id="male" name="gender" value="male" fromControlName="gender" required>
          <label for="male">Male</label>
        </div>
        <div>
          <input type="radio" id="female" name="gender" fromControlName="gender" value="female">
          <label for="female">Female</label>
        </div>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
