<div class="container">
  <h1>Registration Form</h1>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div formGroupName="personalFormGroup">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" formControlName="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" />
        <span style="color: red;" *ngIf="!reactiveForm.get('personalFormGroup.email').valid && reactiveForm.get('personalFormGroup.email').touched">
          This email you entered is not a valid email</span>
      </div>
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <select id="country" name="country" formControlName="country">
        <option value="" disabled selected>Select Country</option>
        <option value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="UK">UK</option>
      </select>
    </div>

    <div class="form-group">
      <label>Gender:</label>
      <div class="radio-group">
        <div>
          <input type="radio" id="male" name="gender" value="male" formControlName="gender" />
          <label for="male">Male</label>
        </div>
        <div>
          <input type="radio" id="female" name="gender" formControlName="gender" value="female" />
          <label for="female">Female</label>
        </div>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
