.user-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .user-info {
    margin-top: 10px;
  }
  
  .user-info p {
    margin: 5px 0;
  }
  