<div class="container">
    <h1>Registration Form</h1>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  
      <div formGroupName="personalFormGroup">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" formControlName="name" />
          <div style="color: red;">
            <small *ngIf="reactiveForm.get('personalFormGroup.name').errors?.['required']">
               Name is a required field
            </small>
            <small *ngIf="reactiveForm.get('personalFormGroup.name').errors?.['noSpaceAllowed']">
               Name can not contain a space
            </small>
          </div>
        </div>
  
        <div class="form-group">
          <label for="mobileNumber">Mobile Number:</label>
          <input type="text" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber" />
          <div style="color: red;">
            <small *ngIf="reactiveForm.get('personalFormGroup.mobileNumber').errors?.['required']">
              Mobile Number is a required field
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" formControlName="email" />
          <div style="color: red;">
            <span style="color: red;"
              *ngIf="!reactiveForm.get('personalFormGroup.email').valid && reactiveForm.get('personalFormGroup.email').touched">
              Email you entered is not a valid email
            </span>
            <small *ngIf="reactiveForm.get('personalFormGroup.email').errors?.['required']">
              Email is a required field
            </small>
          </div>
        </div>
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
