<div class="filters">
    <label> Filter :</label>
    <label><input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="OnRadioButtonSlectionChange()"> All({{countAll}})</label>
    <label><input type="radio" name="filter" value="T-Shirt" [(ngModel)]="selectedRadioButtonValue" (change)="OnRadioButtonSlectionChange()"> T-Shirt({{countTshirt}})</label>
    <label><input type="radio" name="filter" value="Jeans" [(ngModel)]="selectedRadioButtonValue" (change)="OnRadioButtonSlectionChange()"> Jeans({{countJeans}})</label>
    <label><input type="radio" name="filter" value="Hoodie" [(ngModel)]="selectedRadioButtonValue" (change)="OnRadioButtonSlectionChange()"> Hoodie({{countHoodie}})</label>
</div>
