<div class="about-us-container">
  <h2>All Courses</h2>
</div>
<div class="card-container">
  <div class="card" *ngFor="let course of courses">
    <h2 class="card-title">{{ course.name }}</h2>
    <img class="card-image" [src]="course.image" [alt]="course.name">
    <p class="card-description">{{ course.description }}</p>
    <div class="subscription-button">Enroll</div>
    <div class="subscription-button" [routerLink]="'/Courses/Course/' + course.id">Show Details</div>
    <!-- uisng / it's adding with root path is called absolute path --> 
  </div>
</div>