<div class="main-container">
  <div>
    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a routerLink="About" class="nav-link">About</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a routerLink="Contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a routerLink="Courses" class="nav-link">Courses</a>
        </li>
        <span style="float:right">
          <li (click)="logout()"><a>Logout</a></li>
        </span>
        <span style="float:right;margin-right: 10px;">
          <li (click)="login()"><a>Login</a></li>
        </span>
      
        <!-- <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="" class="nav-link" fragment="Home">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a routerLink="" class="nav-link" fragment="About">About</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a routerLink="" class="nav-link" fragment="Courses">Courses</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a routerLink="" class="nav-link" fragment="Contact">Contact</a>
        </li> -->

      </ul>
    </nav>
    
  </div>
  <div>
    <!-- <app-home id="Home"></app-home>
    <app-about id="About"></app-about>
    <app-contact id="Contact"></app-contact>
    <app-courses id="Courses"></app-courses> -->
    <router-outlet></router-outlet>
  </div>
</div>