<div appBackgroundStyle appHover>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatibus
    maiores asperiores corporis excepturi alias voluptatum sunt tenetur. Omnis
    commodi laboriosam necessitatibus ipsum numquam earum odio illo assumenda
    perspiciatis nam.
  </p>
</div>
<button class="btn-btn-green" (click)="DisplayNotice()">click</button>
<div appBetterhighlight *ngIf="display">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatibus
    maiores asperiores corporis excepturi alias voluptatum sunt tenetur. Omnis
    commodi laboriosam necessitatibus ipsum numquam earum odio illo assumenda
    perspiciatis nam.
  </p>
</div>
