<div class="products-container">
  <app-product>
     <h4 class="header">iPhone</h4>
     <button class="button">Learn more in iPhone </button>
  </app-product>
  <app-product>
    <h4 class="header">Samsung</h4>
    <button class="button">Learn more in Samsung </button>
  </app-product>
  <app-product>
    <h4 class="header">Vivo</h4>
    <button class="button">Learn more in Vivo</button>
  </app-product>
  <app-product>
    <h4 class="header">One+</h4>
    <button class="button">Learn more in One+</button>
  </app-product>
</div>