.products-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  app-product {
    flex: 0 0 calc(25% - 20px); /* Each item takes 25% width with 10px margin on both sides */
    margin: 0 10px; /* Optional: Add margin between the products */
  }
  
  app-product:first-child {
    margin-left: 0; /* Remove margin from the first item */
  }
  
  app-product:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }

  .button {
    padding: 10px 20px;
    background-color: #14dba0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }