/* add-user.component.css */

.container {
   margin-top: 20px;
   width: 73%;
   margin-left: 110px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .about-us-container {
    text-align: center;
    width: 71%;
    height: 30px;
    text-decoration: solid;
    margin-left: 110px;
    margin-top: 50px;
    padding: 20px;
    background-color: #19185548;
    box-shadow: 0 0 10px rgba(67, 73, 102, 0.1);
  }
  
  .about-us-container h2{
    margin-top: -4px;
  }