<div class="product-row">
    <div *ngFor="let product of products" class="product" [ngStyle]="{backgroundColor: product.stock === 'Available' ? '#407187': '#66ffd9'}">
        <img [src]="product.image" alt="{{ product.name }}">
        <div class="description">
            <h2>{{ product.name }}</h2>
            <p [ngStyle]="{color:product.stock === 'Available' ? '#00b300' : 'Red'}">{{ product.stock }}</p>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price | currency }}</p>
            <button>Show Details</button>
            <button class="buynow" *ngIf="product.stock==='Available';else notifyme">Buy Now</button>
            <ng-template #notifyme>
                <button class="btnNotify">Notify Me</button>
            </ng-template>
        </div>
    </div>
  </div>
  