.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product {
    width: calc(50% - 10px);
    margin-bottom: 20px; 
    display: flex;
  }
  
  .product img {
    width: 225px;
    height: 225px;
    margin-right: 20px;
  }
  
  .product .description {
    flex: 1;
  }
  
  .product h2, .product p {
    margin: 0;
  }
  button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color:#bf3b76;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .buynow {
    background-color: #78850b;
    margin-left: 10px;
  }