<div>
    <app-search></app-search>
    <app-filters 
                 [countAll]="getAll()"
                 [countTshirt]="getTotalTshirt()"
                 [countHoodie]="getTotalHoodie()"
                 [countJeans]="getTotalJeans()"
                 (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)">
    </app-filters>
</div>

<div class="product-row">
    <ng-container *ngFor="let product of products">
        <div class="product" [ngStyle]="{backgroundColor: product.stock === 'Available' ? '#407188': '#699'}" *ngIf="expectedCategory === 'All' || expectedCategory === product.category">
            <img [src]="product.image" alt="{{ product.type }}">
            <div class="description">
                <h2>{{ product.category }}</h2>
                <p [ngStyle]="{color:product.stock === 'Available' ? '#00b300' : 'Red'}">{{ product.stock }}</p>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price | currency }}</p>
                <button>Show Details</button>
                <button class="buynow" *ngIf="product.stock==='Available';else notifyme">Buy Now</button>
                <ng-template #notifyme>
                    <button class="btnNotify">Notify Me</button>
                </ng-template>
            </div>
        </div>
    </ng-container>
</div>