<div class="about-us-container"><h2>About Us</h2></div>
<div class="card-container">
    <div class="card">
      <img class="card-image" src="assets/teacher1.jpg">
      <p class="card-description">
        <h3>John Deo</h3>
        <h4>CEO and Founder</h4>
      <div class="subscription-button">Contact</div>
    </div>
    <div class="card">
      <img class="card-image" src="assets/teacher2.jpg">
      <p class="card-description">
        <h3>John Deo</h3>
        <h4>CTO</h4>
      <div class="subscription-button">Contact</div>
    </div>
    <div class="card">
      <img class="card-image" src="assets/teacher3.jpg">
      <p class="card-description">
        <h3>John Deo</h3>
        <h4>COO</h4>
      <div class="subscription-button">Contact</div>
    </div>
  </div>